@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap%');
body{
    background-color: #487a9d;
   height: 100vh;
   overflow: hidden;
   font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}




.container{
    height: 100vh;
}
.logo{
    width: 150px;
    border-radius: 50%;

}

.logo a img{
    width: 200px;
    padding-right: 150px;
    

}


 header {
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: -2rem;

}

.navbar{
    display: flex;
    align-items: center;
    margin-left: 25rem;
}

.navbar ul{
    display: flex;
    margin-right:1.5rem;
}


.navbar ul li{
    list-style: none;
    margin: 0 22px;

}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;

}

.btn{
    border-radius: 30px;
    background-size: 10px;
    padding: 14px 25px;
    /* margin: 8px; */
    cursor: pointer;
    margin-right: 1rem;
    border: none;
    outline:none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-weight:bold;
    font-size: 15px;

}


 .button .login-btn{
     background-color: #3d87d0;
     color: white;
     /* border: 1px solid white; */
 }

 .button .signup-btn{
     background-color: white;
     color: #3d87d0;
 }

 main .pepsi-img{ 

 }


main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: -5rem;
}
.content{
    color: #fff;
    width: 50vw;
}

.content h1,h2{
   letter-spacing: 3px;
   text-transform: uppercase;

}
.content h1{
    /* display: inline-block; */
    /* width: 35%; */
    font-size: 6rem;
   line-height: 1rem;
}

.content h2{
    font-size: 40px;
    line-height: 1rem;
}

.content p{
    width: 80%;
    align-items: center;
}

main img{
    width: 330px;
    margin-top: 7rem;
    z-index: 1;
}

a{
    text-decoration: none;
    color: black;
}

.content .btn {
    margin-top: 1rem
    
}

.content .btn a{
    font-size: 1.4rem;
    padding: 15px 20px;
    font-weight: 600;
}

footer{
    height: 48vh;
    position: absolute;
    bottom: 0;
    width: 200vw;
    z-index: -1;
}
footer img{
    height: 100%;
    width: 100rem;
    z-index: -10;
}



